[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
spacy = "*"
pandas = "*"
pylint = "*"
bs4 = "*"
dask = {extras = ["dataframe"],version = "*"}
lxml = "*"

[requires]
python_version = "3.6"
